/* Réinitialisation générale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

/* Header */
.navigation {
    width: 588px;
    height: 24px;
}
header {
    width: 1441px;
    height: 84px;
    gap: 145 px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 105px;
    background-color: #F5F7FA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 154.49px;
    height: 24px;
    gap: 8px;
}

header nav a {
    margin: 0 15px;
    opacity: 0px;
    text-decoration: none;
    color: #333;
}

header nav a:hover {
    color: #28a745;
}

.button-login {
    background-color: #f4f5fa;
    color: #4caf4f;
    text-decoration: none;
    padding: 10px 20px;
}

.button-signup {
    background-color: #4caf4f;
    color: #f4f5fa;
    border-radius: 6px;
    text-decoration: none;
    padding: 10px 20px;
}

header .buttons a:hover {
    background-color: #218838;
}

/* Section générale */
section {
    margin: auto;
    padding: 4rem 5%;
}

section h2 {
    font-size: 2rem;
    color: #333;
}

section p {
    color: #555;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero Section */
.hero {
    width: 1441px;
    height: 599px;
    margin: auto;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 42px;
    padding: 96px 144px;
}

.hero .hero-content {
    padding-right: 2rem;
}

.hero h1 span {
    color: #28a745;
}

.hero-text h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
}

.hero .hero-image {
    text-align: right;
}

.hero .hero-image img {
    max-width: 100%;
    height: auto;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #218838;
}

/* Cards Section */
.text{
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row ;
    flex-wrap: nowrap;
    gap: 127.5px;
    margin-top: 2rem;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 8px;
    width: 299px;
    height: 260px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 65px;
    height: 56px;
}

.card h3 {
    width: 267px;
    height: 72px;
    font-size: 28px;
    margin: 16px 0px 16px 0px;
    size: 28px;
    color: #333;
    text-align: center;
}

.card p {
    width: 251px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

/* Feature Section */
.feature-text h2 {
    margin-bottom: 1.5rem;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
}

.feature {
    width: 1,441px;
    height: 433px;
    padding: 0px 144px 0px 144px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
    padding-right: 300px;
    padding-left: 300px;
}

.feature .feature-text{
    width: 661px;
    height: 268px;
    gap: 32px;
}

.feature .feature-image img {
    width: 442px;
    height: 433px;
    margin: auto;

    border-radius: 8px;
}

/* Footer Design Section */
.footer-design .footer-content {
    padding-right: 2rem;
}

.footer-design .footer-image {
    text-align: right;
}

.footer-design .footer-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Buttons */
.btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}

.demo {
    width: 1441px;
    height: 554px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.demo-text {
    width: 1200px;
    height: 364px;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #F5F7FA;
    text-align: center;
}

.demo-text h2{
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
    padding-left: 156.5px;
    padding-right: 156.5px;
}


/* Footer */
footer {
    text-align: center;
    display: flex;
    margin: auto;
    width: 1441px;
    height: 148px;
    padding: 64px 165px 64px 165px;
    background: #333;
    color: white;
    font-size: 0.9rem;
}

footer p {
    margin: auto;
}